
<h4>Edit Puzzlepiece</h4>

<h5>Name:</h5>
<input [(ngModel)]="selectedPuzzlepiece.name">
<br>

<h5>Age:</h5>
<input [(ngModel)]="selectedPuzzlepiece.age">
<br>

<h5>Description:</h5>
<input [(ngModel)]="selectedPuzzlepiece.description">
<br>

<h5>Likes:</h5>
<input [(ngModel)]="selectedPuzzlepiece.likes">
<br>

<h5>Dislikes:</h5>
<input [(ngModel)]="selectedPuzzlepiece.dislikes">
<br>

<h5>Image URL:</h5>
<input [(ngModel)]="selectedPuzzlepiece.url">
<br>

<button (click)="beginUpdatingPuzzlepiece(selectedPuzzlepiece)">Update</button>
<hr>
<button (click)="beginDeletingPuzzlepiece(selectedPuzzlepiece)">Delete</button>
