<h2>Puzzle Pieces</h2>

<p>Here are all the Puzzle Pieces. Find which piece fits your own.</p>


<div *ngFor="let puzzlepiece of puzzlepieces | async"  class="panel panel-default">

  <div class="panel panel-default">
    <!-- <img src="{{puzzlepiece.url}}" alt="Picture"> -->
    <!-- <p>{{project.url}}</p> -->
    <div class="panel-body">
      <h3 (click)="goToDetailPage(puzzlepiece)"><em>{{puzzlepiece.name}}</em> : {{puzzlepiece.age}}</h3>
      <div *ngIf="currentRoute === '/admin'">
        {{puzzlepiece.description}}
        <hr>
        <app-edit-puzzlepiece [selectedPuzzlepiece]="puzzlepiece"></app-edit-puzzlepiece>
      </div>
    </div>
  </div>

</div>
