
    <form class="person-form">
      <div>
        <label>Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Age:</label>
        <br>
        <input #newAge>
      </div>

      <div>
        <label>Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>


      <button (click)="submitForm(newName.value, newAge.value, newDescription.value); newName.value=''; newAge.value=''; newDescription.value='';">Add</button>
    </form>


<div>
  <app-geocaches></app-geocaches>
</div>
